*,
*::after,
*::before{
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  padding:10px 20px;
}
button {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}
#hour{
    color:white;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width: 100%;
    border: none;
}
table td{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 0;
    height: 32px;
}
table td:nth-child(1){
    text-transform: uppercase;
    font-size: 1.1rem;
}
table td:nth-child(2){
    font-size: 2rem;
    text-align: right;
}
#loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);

    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    text-align: center;
    display: none;
}
#loading::after{
    font-size: 2rem;
    width: auto;
    content:"Loading";
    position: absolute;
    left: 0;
    right: 0;
    top: 37%;
}